@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Form Header */
.header {
    display: inline-block;
}
/* Form Header */


/* PROGRESS BAR */
.progressbar {
    margin-top: 2rem;
    width: 400px;
    height: 15px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px rgba(197, 251, 255, 0.4);   
    
}
.progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: rgb(125, 248, 253);
}
/* PROGRESS BAR */


/* Forms */
/* form {
    width: 100%;
    padding: auto;
    display: flex;
} */

.form-group {
    margin-bottom: 0.5rem;
}

.form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
}

.form-container .body {
    flex: 60%;
}

.form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
}

.form-date {
    margin-top: 2rem;
    margin-left: 1rem;
}

.form-time {
    display: block;
    padding: auto;
}

.div-time {
    display: inline-block;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Forms */


/* Form Card */
.sub-entry-event-one {
    width: 30vw;
    height: 85vh;
    float: left;
    padding: 1.5rem 3rem 0 3rem;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);    
}

.sub-entry-event-two {
    width: 30vw;
    height: 85vh;
    float: left;
    margin-left: 25px;
    margin-bottom: 4rem;
    padding: 1.5rem 3rem 0 3rem;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);    
}
/* Form Card */


/* Next/Prev Buttons */
.footer:hover button:hover {
    background-color: rgb(162, 114, 160);
    transition: ease-in 150ms;
}

.form-container .footer button, .btn-primary {
    border-radius: 7px;
    font-size: 20px;
    width: 120px;
    height: 45px;
    background-color:rgb(53,58, 63);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: auto;
    margin: auto;
    margin: 15px;
}

/* Next/Prev Buttons */