nav {
    margin: auto;
    padding: auto;
}

#search-btn{
    background-color: white !important;
}
.navbar-brand{
    margin-left: 1rem;

}



.NavbarItems {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(146, 213, 233) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding-top: 20px;
}



.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;    
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    
    
}

.nav-link:hover {
    background-color: rgb(209, 107, 218);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: rgb(0, 0, 0);
    
}

.nav-link-mobile {
    display: none;
    
}

.menu-icon {
    display: none;
    
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
        
    }

    .nav-menu {
       /* display: table-column; */
        /* flex-direction: column; */
        grid-gap: 0.8rem;
        grid-template-columns:auto;
        top: 80px;
        justify-content: center;
        padding-top: 1.5rem;
        width: 100%;
        height: 340px;
        position: absolute;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: rgb(229, 233, 128);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-link:hover {
        background-color: rgb(169,211,224);
        color: white;
        border-radius: 0;
    }

    .navbar-logo {
       position: center;
       top: 0;
       left: 0;
       transform: translate(-80%, 0%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: rgb(0, 0, 0);
        font-size: 2rem;
    }

    .nav-link-mobile {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 0.3rem 13rem 1rem 0;
        
        border-radius: 5px;
        width: 100%;
        background: rgb(0, 0, 0);
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    .nav-link-mobile:hover {
        background: white;
        color: rgb(0, 0, 0);
        transition: 250ms;
    }

    /* Button {
        display: none;
    } */
    .btn {
        display: none;
    }
}