.sub-entry-production-one {
    width: 30vw;
    height: 90vh;
    float: left;
    padding: 1.5rem 3rem 0 3rem;
}

.sub-entry-production-two {
    width: 30vw;
    height: 90vh;
    float: left;
    margin-left: 25px;
    padding: 1.5rem 3rem 0 3rem; 
}